@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gellix;
  src: url(../../fonts/Gellix-SemiBold.3a5e059f.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Gellix;
  src: url(../../fonts/Gellix-Regular.85e6a6e9.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Gellix;
  src: url(../../fonts/Gellix-Bold.27c4d599.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Gellix;
  src: url(../../fonts/Gellix-Medium.bd6bc8b4.ttf);
  font-weight: 500;
  font-style: normal;
}

/* @media (prefers-color-scheme: dark) {
  *{
    background-color: #000000;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gellix;
  transition: 0.5s;
  display: block;
}

.pad_layout {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
@media (min-width: 1024px) {
  .pad_layout {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media (min-width: 1280px) {
  .pad_layout {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
}

.main-text{
  color: #000;
  font-size: 2.5rem;
  font-family: Gellix;
  font-weight: 600;
  letter-spacing: 0.003125rem;
  word-spacing: 0.003125rem;
  line-height: 100%;
}


@media only screen and (min-width:64rem) {
  .landing .main-text {
    font-size:96px;
    max-width:56.25rem
  }
}

@media only screen and (min-width: 64rem) {
  .landing .recent {
    font-size: 1.25rem;
  }
}

.btn {
  width: 100%;
  cursor: pointer;
  height: 3rem;
  border-radius: 2.4375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
@media only screen and (min-width: 64rem) {
  .btn {
    width: 16.75rem;
    height: 3.75rem;
  }
}
.bordered-btn {
  border: 0.0625rem solid #000;
}
.section-title {
  color: #9a9a9a;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.10875rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 64rem) {
  .section-title {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }
}

nav .social-item {
  padding: 0.75rem 1rem;
  height: 100% !important;
  color: #fff;
  border-radius: 2.4375rem;
  border: 0.0625rem solid hsla(0, 0%, 100%, 0.16);
  font-weight: 500;
}
nav .btn,
nav .social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}
nav .btn {
  padding: 0.8125rem 1.375rem;
  border-radius: 2.4375rem;
  font-family: Gellix;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media only screen and (min-width: 64rem) {
  nav .btn {
    font-size: 1rem;
  }
}
nav .btn-white {
  border: 0.0625rem solid #e7e7e7 !important;
}
nav .btn-black,
.Style_menu___iR12 {
  background: #000;
  color: #fff;
}

nav .hamburger {
  border-radius: 2.4375rem;
  border: 0.0625rem solid #e7e7e7;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 64rem) {
  nav .hamburger {
    width: 3.75rem;
    height: 3.75rem;
  }
}
nav .hamburger svg {
  width: 1.5rem;
  height: 1.5rem;
}

.\!w-fit {
  width:-moz-fit-content!important;
  width:fit-content!important;
}

.landing .recent {
  color: #9a9a9a;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.10875rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 64rem) {
  .landing .recent {
    font-size: 1.25rem;
  }
}
.landing .desc {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 127%;
  max-width: 35.5rem;
}

@media only screen and (min-width: 1024px) {
  .slide {
    border-radius: 3rem;
    width: 30rem;
  }
}

.swiper-slide{
  display: block;
  width: auto !important;
  flex-shrink: 0;
  position: relative;
}

.swiper{
  padding: 1rem 0 !important;
}

.landing .drible-btn {
  border-radius: 2.4375rem;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  height: 3rem;
  color: #000;
  font-weight: 600;
}
@media only screen and (min-width: 64rem) {
  .landing .drible-btn {
    width: 16.75rem;
    height: 3.75rem;
  }
}

.style_container__ZhG39 {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border: none !important;
  background: none !important;
}
.style_container__ZhG39 .bg-box,
.style_container__ZhG39 .initial {
  transition: 0.4s;
}
.style_container__ZhG39 .secondary {
  transform: translateY(240%);
  position: absolute;
  transition: 0.4s;
}
.style_container__ZhG39:hover .bg-box {
  transform: scaleX(0.93);
}
.style_container__ZhG39:hover .initial {
  transform: translateY(-240%);
}
.style_container__ZhG39:hover .secondary {
  transform: translateY(0);
}


.styles_container__4j5Gl {
  padding: 0 0.25rem;
}
@media only screen and (min-width: 64rem) {
  .styles_container__4j5Gl {
    padding: 0 1.5rem;
  }
}
.styles_container__4j5Gl .our-story-container {
  border-radius: 1rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
}
@media only screen and (min-width: 64rem) {
  .styles_container__4j5Gl .our-story-container {
    border-radius: 3rem;
  }
}
.styles_container__4j5Gl .our-story-container .max-w-c {
  max-width: 68.75rem;
  margin: 0 auto;
}
.styles_container__4j5Gl .our-story-container .title {
  color: #000;
  font-family: Gellix;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.10875rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 64rem) {
  .styles_container__4j5Gl .our-story-container .title {
    font-size: 1.25rem;
  }
}
.styles_container__4j5Gl .our-story-container .desc {
  color: #fff;
  max-width: 35.125rem;
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
}
@media only screen and (min-width: 64rem) {
  .styles_container__4j5Gl .our-story-container .desc {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 150%;
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper-height {
    width: 100%;
    aspect-ratio: 2.2;
    height: unset;
    min-height: 35.5rem;
    max-width: 100%;
  }
}

.MagneticButton_container__njxXF {
  position: relative;
  display: inline-flex;
  padding: 24px;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.025em;
  border-radius: 0.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.75s;
}
.MagneticButton_container__njxXF > span {
  z-index: 100;
  position: relative;
  color: transparent;
}
.MagneticButton_container__njxXF:hover:after {
  transform: translate3d(-50%, -50%, 0);
}

.styles_container__IpxrY .big-title {
  max-width: 40rem;
  font-size: 2.25rem;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .styles_container__IpxrY .big-title {
    font-size: 4rem;
  }
}
.styles_container__IpxrY .big-title {
  line-height: normal;
}
.styles_container__IpxrY .more-btn {
  border-radius: 2.4375rem;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  height: 3rem;
  color: #000;
  font-weight: 600;
}
@media only screen and (min-width: 64rem) {
  .styles_container__IpxrY .more-btn {
    width: 16.75rem;
    height: 3.75rem;
  }
}

.styles_product___o3HF .img-container {
  width: 100%;
  transition: 0.4s;
  cursor: pointer;
  height: 20.625rem;
  border-radius: 3rem;
  overflow: hidden;
  border: 0.0611875rem solid #eee;
  position: relative;
}
.styles_product___o3HF .img-container .more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #000;
  border: 0.0625rem solid #000;
  border-radius: 54px;
  position: absolute;
  bottom: 1.125rem;
  right: 1.125rem;
  transition: 0.2s ease-out;
  height: 3rem;
  width: 3rem;
  opacity: 0;
  visibility: hidden;
}
.styles_product___o3HF .img-container .more .more-text {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  max-width: 0;
  transition: 0.3s ease-out;
}
.styles_product___o3HF .img-container .more:hover {
  max-width: 8rem;
  padding: 0.6rem 1rem;
  gap: 0.25rem;
  width: 7rem;
}
.styles_product___o3HF .img-container .more:hover .more-text {
  visibility: visible;
  max-width: 5rem;
  opacity: 1;
}
.styles_product___o3HF .img-container .more svg {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.styles_product___o3HF .img-container:hover {
  box-shadow: 0 5.25rem 3.75rem 0 rgba(0, 0, 0, 0.08);
}
.styles_product___o3HF .img-container:hover .more {
  opacity: 1;
  visibility: visible;
}
.styles_product___o3HF .img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.styles_product___o3HF .product-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  z-index: 2;
  line-height: 180%;
}
.styles_product___o3HF .price {
  font-size: 1.5rem;
  font-weight: 600;
}
.styles_product___o3HF .product-text {
  color: #000;
  max-width: 18.75rem;
  line-height: 150%;
}

.styles_container__dEjBN .main-text {
  color: #000;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 100%;
}
@media only screen and (min-width: 64rem) {
  .styles_container__dEjBN .main-text {
    font-size: 6rem;
    max-width: 71.875rem;
  }
}
.styles_container__dEjBN .svg-c {
  width: 3.4405rem;
  height: 2.125rem;
  padding: 0.27825rem 0.936rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.styles_container__dEjBN .project {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.styles_container__dEjBN .project .sqr {
  border-radius: 1.5rem;
  background: #f3f3f3;
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  transition: 0.3s;
}
.styles_container__dEjBN .project .sqr:hover {
  background: #fff;
  box-shadow: 0 84px 200px 0 rgba(0, 0, 0, 0.1);
  z-index: 4;
}
@media only screen and (min-width: 64rem) {
  .styles_container__dEjBN .project .sqr {
    border-radius: 3rem;
  }
}
.styles_container__dEjBN .project .title {
  text-align: center;
  color: #000;
  font-weight: 500;
  line-height: 100%;
}
@media only screen and (min-width: 64rem) {
  .styles_container__dEjBN .project .title {
    font-size: 1.5rem;
  }
}

.styles_container__wNam6 .clients {
  grid-template-columns: repeat(auto-fit, 6.125rem);
}
@media only screen and (min-width: 64rem) {
  .styles_container__wNam6 .clients {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
  }
}
.styles_container__wNam6 .clients .svg {
  width: 100%;
}
.styles_container__wNam6 .clients .svg img {
  max-height: 2.7rem;
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  height: 100px;
}
.styles_marquee__D_E_j {
  height: 100%;
  width: 20.625rem;
  position: relative;
}
.styles_marquee__D_E_j .half {
  top: 0;
  padding-top: 1.25rem;
  position: absolute;
  width: 100%;
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.styles_container__8BVkI {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.46);
  display: flex;
  justify-content: center;
  align-items: center;
}
.styles_container__8BVkI .pop-up-container {
  max-width: 87.5rem;
  width: 100%;
  max-height: 80vh;
  overflow: hidden;
  height: 50rem;
  border-radius: 3rem;
  background: var(--gray-light, #e7e7e7);
}
@media only screen and (max-width: 64rem) {
  .styles_container__8BVkI .pop-up-container {
    height: auto;
    border-radius: 1.5rem;
  }
}
.styles_container__8BVkI .top-slider .marquee {
  background: transparent;
  margin-top: -1.25rem;
}
.styles_container__8BVkI .top-slider .box {
  margin: 0 0.25rem;
  height: 10.25rem;
  overflow: hidden;
  width: 12.5rem;
  border-radius: 0.561625rem;
  background: #fff;
}
.styles_container__8BVkI .left-content .pop-title {
  color: #000;
  font-size: 4rem;
  font-weight: 600;
  line-height: 100%;
}
@media only screen and (max-width: 64rem) {
  .styles_container__8BVkI .left-content .pop-title {
    font-size: 2.25rem;
  }
}
.styles_container__8BVkI .left-content .sub-title {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}
@media only screen and (max-width: 64rem) {
  .styles_container__8BVkI .left-content .sub-title {
    font-size: 0.75rem;
  }
}
.styles_container__8BVkI .left-content .text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 127%;
}
@media only screen and (max-width: 64rem) {
  .styles_container__8BVkI .left-content .text {
    font-size: 1rem;
  }
}
.styles_container__8BVkI .left-content .btn-wrapper .btn {
  font-weight: 600;
  border-radius: 2.4375rem;
  background: var(--black, #000);
  width: unset;
  padding: 0 2rem;
  border: 0.0625rem solid #000;
}
.styles_container__8BVkI .right-slider .box {
  background: #000;
  overflow: hidden;
  width: 20.625rem;
  height: 17.5rem;
  border-radius: 1rem;
  background: #fff;
}

.rounded-24,
.rounded-\[1\.5rem\] {
  border-radius: 1.5rem;
}

.text-14 {
  font-size: 0.875rem;
}
.text-16 {
  font-size: 1rem;
}
.text-24 {
  font-size: 1.5rem;
}
.text-32 {
  font-size: 2rem;
}

.md\:rounded-48 {
  border-radius: 2rem;
}

.md\:text-20 {
  font-size: 1.25rem;
}
.md\:text-24 {
  font-size: 1.5rem;
}
.md\:text-32 {
  font-size: 2rem;
}
.md\:text-48 {
  font-size: 3rem;
}

.border-1 {
  border-width: 1px;
}
